.matches-container{
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    margin: auto;
    padding: 2%;
}

.match-table{
    flex-wrap: nowrap;
    margin: auto;
    min-width: 500px;
}

.match-date-header{
    padding-top: 3%;
}

.match-details-row{
    border: black 1px solid;
    display: flex;
    flex-flow: row nowrap;
    padding: 1%;
}

.match-time{
    width: 20%;
    padding: 1% 0;
}

.match-home-team{
    width: 20%;
    padding: 1%;
    text-align: left;
}

.vs{
    width: 20%;
    padding: 1%;

}

.match-away-team{
    width: 20%;
    padding: 1%;
    text-align: left;
}

.team-logo{
    max-height: 20px;
    padding: 1%;
}